body {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#canvas {
    position: relative;
    margin: 24px auto;
    box-shadow: 0 8px 16px rgba(0,0,0,.5);
    background: #444;
    width: 90vw;
    height: 80vh;
}

#FPS {
    position: absolute;
    left: 0;
    top: 0;
    font-weight: 300;
    font-size: .7rem;
}


h1 {
    font-size: 1.2rem;
}
p {
    max-width: 512px;
}
